.container {
    display: flex;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 80px;
    padding-bottom: 5%;
    width: 100%;
    flex-direction: column;
    width: 100%;
  }
  .familyCards {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: flex-start;
    width: 50%;
    margin-top: 13px;
  }
  
  .heading {
    margin-left: 3%;
    margin-right: 5%;
    letter-spacing: 3px;
  }
  
  .modalHeading {
    
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    margin-left: 3%;
    margin-right: 5%;
    letter-spacing: 3px;
    color: var(--sapphire);
  }

  .blackHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--noirish);
  }
  
  .addFamilyButton {
    display: flex;
    font-family: Avenir;
    background-color: var(--sapphire);
    border: none;
    cursor: pointer;
    color: var(--white);
    place-items: center;
    height: 38px;
    font-size: normal;
    font-weight: 800;
    width: 135px;
    justify-content: center;
    align-self: center;
    border-radius: 7px;
  }
  
  .createFamilyButton {
    display: flex;
    font-family: Avenir;
    background-color: var(--sapphire);
    border: none;
    cursor: pointer;
    color: var(--white);
    place-items: center;
    height: 37px;
    font-size: normal;
    font-weight: 800;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: center;
    border-radius: 7px;
  }
  .cancelIcon {
    margin-top: 9px;
  }
  
  .cancelButton {
    display: flex;
    font-family: Avenir;
    background-color: transparent;
    border: 1px solid var(--grey-dark);
    color: var(--grey-dark);
    cursor: pointer;
    place-items: center;
    height: 37px;
    font-size: normal;
    font-weight: 800;
    padding-right: 16px;
    padding-left: 16px;
    justify-content: center;
    border-radius: 7px;
    vertical-align: middle;
    margin-right: 12px;
  }
  
  .familyButtonIcon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    margin-bottom: 3px;
  }
  
  .headingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .userIcon {
    fill: var(--sapphire);
    width: 35px;
    height: 35px;
    margin-top: 12px;
  }
  
  .modalHeadContanier {
    display: flex;
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
  }
  
  .newFamModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 50%;
    height: 60%;
    max-height: 70%;
    background-color: white;
    border-radius: 20px;
    top: 20%;
    left: 25%;
  }

  .newHeadModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 50%;
    height: 50%;
    max-height: 70%;
    background-color: white;
    border-radius: 20px;
    top: 20%;
    left: 25%;
  }

  .newMemberModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 60%;
    height: 60%;
    max-height: 70%;
    background-color: white;
    border-radius: 20px;
    top: 20%;
    left: 20%;
  }
  
  .familyIcon {
    width: 30px;
    height: 25px;
    fill: var(--sapphire);
  }
  
  .closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .chevronButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 11px;
  }
  
  .closeIcon {
    border-radius: 50%;
    background-color: var(--grey-light);
    padding-left: 8px;
    padding-top: 8px;
    width: 30px;
    height: 30px;
  }
  
  .chevron {
    fill: none;
    cursor: pointer;
    height: 11px;
    width: 6px;
    stroke: var(--grey-mid);
    margin-right: 5px;
  }
  
  .breadcrumb {
    display: flex;
    flex-direction: row;
    font-family: Avenir;
    font-size: small;
    color: var(--grey-mid);
    font-weight: 500;
    vertical-align: middle;
  }
  
  .containerLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid var(--grey-mid);
    margin-top: 25px;
    padding-right: 8%;
  }
  
  .containerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 34px;
    margin-top: 25px;
    justify-content: space-between;
  }
  
  .headingText {
    font-family: Avenir;
    font-size: large;
    font-weight: 800;
  }
  
  .subText {
    font-family: Avenir;
    font-size: small;
  }
  
  .addHeadButton {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: var(--sapphire-light);
    border: none;
    border-radius: 10px;
    place-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .addHead {
    height: 42px;
    width: 42px;
    cursor: pointer;
  }
  
  .addDepButton {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: var(--sapphire-light);
    border: none;
    border-radius: 10px;
    place-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  
  .addDep {
    height: 31px;
    width: 31px;
    cursor: pointer;
  }
  
  .modalContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 78%;
  }
  
  .modalButtons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .contentContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .headDescription {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: var(--grey-dark);
  }
  
  .headTextField {
    border: none;
    border-bottom: 2px solid var(--grey-mid);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 32px;
  }

  .checkmarkIcon {
    margin-top: 2px;
    margin-right: 10px;
  }
  
  .breadcrumbDivider {
    margin-inline: 10px;
  }

  .activeBreadcrumb {
    color: var(--noirish);
  }

  .containerFirst {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 25px;
    padding-right: 8%;
  }

  .containerSecond {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 25px;
    margin-left: 20px;
    padding-right: 8%;
  }
  
  .containerThird {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 25px;
    justify-content: space-between;
  }