.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 68px;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 1px solid #EBEBEB;
  color: #646464;
}

.name {
  width: 20%;
  /* min-width: 150px; */
  min-width: 200px;
}

.role {
  width: 15%;
  /* min-width: 150px; */
  min-width: 100px;
}

.email {
  width: 20%;
  /* min-width: 150px; */
  min-width: 200px;
}

.phone {
  /* width: 15%; */
  min-width: 150px;
  /* min-width: 310px; */
}

.buttons {
  /* width: 30%; */
  display: flex;
  /* justify-content: space-evenly; */
  min-width: 310px;
}

.buttons-header {
  width: 25%
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 30px;
  /* background-color: #FFD4C7; */
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: #EDEDED;
  margin-right: 10px;
}

.action2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 30px;
  /* background-color: #FFD4C7; */
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: #EDEDED;
  margin-right: 10px;
}

.action3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 30px;
  /* background-color: #FFD4C7; */
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: #EDEDED;
  margin-right: 10px;
}

.action:hover {
  background-color: #cecccc;
  color: #686868;
}

.action2:hover {
  background-color: #cecccc;
  color: #686868;
}

.action3:hover {
  background-color: #cecccc;
  color: #686868;
}

.pos-change {
  width: 7%;
  color: #74AB67;
  margin-left: 1%;
}

.neg-change {
  width: 7%;
  color: #EE512F;
  margin-left: 1%;
}

.trash {
  width: 2%;
}

.trash-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}