.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 1px solid #EBEBEB;
  color: var(--grey-darker);
  font-size: 14px;
}

.name {
  width: 13%;
  /* min-width: 150px; */
  min-width: 200px;
}

.role {
  width: 17%;
  /* min-width: 150px; */
  min-width: 100px;
}

.email {
  width: 20%;
  /* min-width: 150px; */
  min-width: 200px;
}

.phone {
  /* width: 15%; */
  min-width: 150px;
  /* min-width: 310px; */
}

.buttons {
  display: flex;
  min-width: 320px;
}

.buttons-header {
  width: 25%
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  margin-right: 10px;
  font-size: 14px;
  font-family: Avenir;
  color: var(--grey-darker);
  text-transform: none;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: var(--sapphire-light);
  margin-right: 10px;
  font-size: 14px;
  font-family: Avenir;
  color: var(--grey-darker);
  text-transform: none;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: var(--sapphire-light);
  margin-right: 10px;
  font-size: 14px;
  font-family: Avenir;
  color: var(--grey-darker);
  text-transform: none;
}

.delete:hover {
  background-color: var(--white);
}

.reset:hover {
  background-color: var(--white);
}

.edit:hover {
  background-color: var(--white);
}

.trash {
  width: 2%;
}

.trash-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
