.card {
  width: 360px;
  height: 270px;
  border-style: solid;
  border-color: var(--grey-light);
  color: var(--grey-dark);
  border-radius: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
  overflow: auto;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.familyMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.headText {
  padding-right: 5%;
  text-decoration: underline;
}

.smallText {
  font-size: small;
}

.col {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.familyCards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
}

.modal {
  position: absolute;
  display: flex;
  padding: 3%;
  width: 80%;
  height: 80%;
  background-color: white;
  top: 10%;
  left: 10%;
}
