.container {
  display: flex;
  width: 100%;
  border-style: solid;
  border-radius: 15px;
  border-color: var(--grey-light);
  color: var(--grey-dark);
  width: 1100px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.tableHead {
  padding: 1%;
  background-color: var(--grey-light);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.headingRow {
  font-weight: bold;
  font-family: Avenir;
  color: var(--grey-dark);
}

.tableRow {
  font-family: Avenir;
  color: var(--grey-dark);
}

.tableRow:hover {
  background-color: var(--hover);
}

.name {
  width: 15%;
}

.FID {
  width: 10%;
}

.role {
  width: 10%;
}

.email {
  width: 15%;
}

.balance {
  width: 12%;
}

.lastActive {
  width: 12%;
}

.manage {
  width: 25%;
}

.button {
  font-size: x-small;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  border: 1px solid;
  border-radius: 15px;
  border-color: var(--grey-mid);
  height: 33px;
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
}
