.all {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.namebar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  gap: 5%;
}

.box {
  padding: 3%;
  align-content: space-between;
  align-items: center;
  border: 2px solid var(--sapphire-light);
  border-radius: 25px;
  width: 100%;
  background-color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  width: 84px;
  height: 37px;
  font-size: 14px;
  margin-right: 20px;
  text-transform: none;
}

.editingButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.cancelButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  width: 93px;
  height: 37px;
  background-color: white;
  color: var(--grey-dark);
  border: 1.3px solid #525454;
  box-sizing: border-box;
  border-radius: 7px;
  text-transform: none;
}

.saveButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  position: static;
  width: 88px;
  height: 37px;
  color: var(--sapphire-light);
  background-color: #a9a9a9;
  border-radius: 7px;
  text-transform: none;
}

.saveChanges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  position: static;
  width: 88px;
  height: 37px;
  color: var(--sapphire-light);
  background-color: #a9a9a9;
  border-radius: 7px;
  text-transform: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 60%;
}
.field {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 37px;
  margin-bottom: 22px;
}

.fields {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 40%;
}

.editState1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 37px;
}

.editState2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 37px;
  background-color: var(--grey-light);
  border-radius: 5px;
}

.edit {
  padding: 9px 10px;
  width: 282px;
  height: 37px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-color: white;
}

.text {
  padding: 9px 10px;
}

.h2 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.72px;
  letter-spacing: 1px;
}
