.button {
  background-color: #cecccc;
  color: #646464;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 800;
  align-self: center;
  margin-left: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* align-items: baseline; */
}

.col {
  width: 40%;
}

.form {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
}

.modal {
  /* width: 100%;
  display: flex; */
  border-radius: 30px;
  height: 400px;
  width: 700px;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 1%;
}

.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: var(--off-white);
  margin-right: 10px;
  font-size: 14px;
  font-family: Avenir;
  /* font-weight: 800; */
  color: var(--grey-darker);
}

.actions {
  /* display: flex; */
  /*align-items: center; */
  /* padding-top: 20px; */
  /* margin-bottom: auto; */
  /* margin-top: auto; */
  /* flex-direction: row;
  align-self: flex-end;
  justify-content: flex-end; */
  margin-top: auto;
}

.title {
  display: flex;
  padding-top: 4%;
}

.edit {
  background-color: #253C85;
}