.button {
  background-color: #cecccc;
  color: #646464;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 800;
  align-self: center;
  margin-left: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 15px;
  /* align-items: baseline; */
}

.col {
  width: 300px;
}

.box {
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* width: 80%; */
}

.form {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.modal {
  /* width: 100%;
  display: flex; */
  border-radius: 20px;
  height: 470px;
  width: 750px;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 1%;
}

.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 16.5px;
  background-color: var(--off-white);
  margin-right: 10px;
  font-size: 14px;
  font-family: Avenir;
  /* font-weight: 800; */
  color: var(--grey-darker);
}

.actions {
  padding: 10px;
  margin-top: auto;
}

.title {
  display: flex;
  padding-top: 4%;
  padding-left: 0%;
  margin-left: 30px;
}

.text {
  font-family: Avenir;
  font-style: normal;
}

.invite-icon {
  margin-right: 3%;
}

.font {
  font-family: Avenir;
  text-transform: none;
}

.text {
  font-family: Avenir;
  text-transform: none;
  padding-right: 26px;
}

.h4 {
  font-family: Avenir;
}

.remove {
  height: 25px;
  width: 25px;
}