.section-header {
  display: flex;
  flex-direction: row;
  height: 46px;
  align-items: center;
  background-color: var(--sapphire-light);
  padding-left: 2%;
  padding-right: 2%;
}

.list {
  padding-top: 0%;
  padding-bottom: 0%;
  height: fit-content;
}

#category {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: var(--noirish);
}

#category-text {
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;
  color: var(--noirish);
}
.dateV2 {
  width: 13%;
}
.actionV2 {
  width: 16%;
}

.adminV2 {
  width: 19%;
}

.messageV2 {
  width: 35%;
  flex-wrap: wrap;
  word-wrap: break-word;
}
