.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 68px;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 1px solid #ebebeb;
  color: #646464;
  font-weight: normal;
  font-size: 16px;
}

.date {
  width: 9%;
}

.dateV2 {
  width: 13%;
}

.username {
  width: 12%;
  min-width: 90px;
}

.fid {
  width: 6%;
  min-width: 60px;
}

.admin {
  width: 14%;
  min-width: 80px;
}

.adminV2 {
  width: 19%;
}

.redeem-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #ffd4c7;
  border: 1px solid #c8c8c8;
  border-radius: 16.5px;
}

.earn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #cbf2c5;
  border: 1px solid #c8c8c8;
  border-radius: 16.5px;
}

.action {
  width: 12%;
}

.actionV2 {
  width: 16%;
}

.message {
  width: 36%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.messageV2 {
  width: 35%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.pos-changeV2 {
  width: 11%;
  color: #74ab67;
  margin-left: 1%;
}

.pos-change {
  width: 7%;
  min-width: 40px;
  color: #74ab67;
  margin-left: 1%;
  flex-wrap: nowrap;
}

.neg-change {
  width: 7%;
  color: #ee512f;
  margin-left: 1%;
  min-width: 40px;
}

.neg-changeV2 {
  width: 11%;
  color: #ee512f;
  margin-left: 1%;
}

.trash {
  width: 2%;
  min-width: 30px;
}

.trash-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
