.header {
    padding: 30px;
}

.subtitle {
    font-size: xx-large;
}

.box {
    padding: 15px;
    font-size: large;
    justify-content: center;
    align-content: space-between;
    border: 1px solid black;
    flex-grow: 1;
    width: 100vh;
}

.boxes {
    width: 100vh;
    display: flex;
    padding: 15px;
    gap: 10%;
}
