.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 92px;
    width:100vh;
    height: 100%;
    min-height: 100%;
}

.h2 {
    margin-left: 5%;
    margin-right: 5%;
}

.namebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.boxes {
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 4%;
}

.box {
    padding: 5%;
    align-content: space-between;
    align-items: center;
    border: 1px ;
    border-radius: 25px;
    border-style: outset;
    width: 100%;
    background-color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button {
    background-color: #253C85;
    color: white;
    border-radius: 7px;
    height: 33px;
    font-size: 14px;
    margin-right: 20px;
    text-transform: none;
}

