.upload-popover-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1%;
  border: 2px solid rgba(234, 234, 234, 0.4);
  border-radius: 8px;
  width: 330px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

.popover-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1%;
  border: 2px solid rgba(234, 234, 234, 0.4);
  border-radius: 8px;
  width: 370px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.popover-div {
  display: flex;
  flex-direction: column;
}

.popover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-title {
  color: #253c85;
  margin-bottom: 0px;
}

.x-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 15px;
}

.x-button:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}

.confirm-button {
  align-self: flex-end;
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  text-transform: none;
  margin-top: 20px;
  width: 89px;
}

.confirm-button:hover {
  background-color: #526dc2;
}

.upload-message {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #525454;
}

.add-file-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.upload-add-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-add-file {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #525454;
}

.upload-file-box {
  height: 80px;
  border: 1.5px dashed #526dc2;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-file-box {
  margin-bottom: 30px;
}

.uploaded-file-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
}

.uploaded-file-name {
  width: 80%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #525454;
}

.cancel-file {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.cancel-file:hover {
  opacity: 50%;
}

.cancel-file-icon {
  width: 20px;
  height: 20px;
}

.uploaded-message {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 12.4855px;
  color: #526dc2;
  margin-top: 10px;
}

.upload-progress-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.upload-progress-bar {
  width: 90%;
  height: 30px;
  border-radius: 24.4509px;
  margin-right: 10px;
}

.success-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15%;
}

.success-title {
  color: var(--noirish);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 31px;
  text-transform: none;
  margin: 0px;
}

.success-message {
  text-align: center;
  margin-bottom: 15%;
}

.success-close-button {
  color: #525454;
  border: 1.3px solid #525454;
  border-radius: 7px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: none;
}

.add-more-button {
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  font-size: 14px;
  margin-left: 20px;
  text-transform: none;
}

.colorPrimary {
  background: var(--sapphire-mid);
}
