.h2 {
  margin-left: 5%;
  margin-right: 5%;
}

.title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 7%;
}

.transaction-icon {
  width: 35px;
  height: 35px;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0%;
  padding-top: 8%;
  padding-left: 3%;
  padding-right: 3%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 35px;
  margin-bottom: 2%;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.add-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.add-text {
  font-family: Avenir;
  font-size: 14px;
  line-height: 20px;
}

.transaction-container {
  width: 100%;
  border-radius: 15px 15px 30px 30px;
}

.tab-box {
  height: fit-content;
  padding: 0%;
  margin-left: 7px;
  border-radius: 0px 30px 30px 30px;
  /* border: 2px solid #e6ecfe; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.sel-tab {
  font-family: Avenir;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  min-width: 110px;
  width: 12%;
  margin-left: 7px;
  margin-right: 7px;
  color: var(--sapphire);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--sapphire);
  text-underline-offset: 6px;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.tab {
  min-width: 110px;
  width: 12%;
  margin-left: 7px;
  margin-right: 7px;
  background-color: var(--sapphire-mid);
  border-radius: 15px 15px 0px 0px;
  color: white;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
  font-family: Avenir;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.children {
  margin: 0px;
}

.popover-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1%;
  border: 2px solid rgba(234, 234, 234, 0.4);
  border-radius: 8px;
  width: 370px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

.popover-div {
  display: flex;
  flex-direction: column;
}

.popover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-title {
  color: #253c85;
  margin-bottom: 0px;
}

.x-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 15px;
}

.x-button:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}

.list {
  padding-top: 0%;
  padding-bottom: 0%;
  height: fit-content;
}

#category {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: #272929;
}

#category-text {
  font-weight: 500;
  margin-right: 10px;
  color: #272929;
}

.children {
  margin: 0px;
}

.upload-message {
  font-size: 12px;
  margin: 10px;
  color: #525454;
}

.circular-progress {
  position: absolute;
  top: 20px;
  right: 20px;
}
