.h2 {
  margin-left: 5%;
  margin-right: 5%;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0%;
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 35px;
  margin-bottom: 2%;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.button {
  background-color: #cecccc;
  color: #646464;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  margin-right: 20px;
  text-transform: none;
}

.button:hover {
  background-color: #cecccc;
  color: #646464;
}

.box {
  height: 100%;
}

.tab-box {
  height: fit-content;
  padding: 0%;
  border: 2px solid #ebebeb;
  border-radius: 0px 10px 10px 10px;
}

.sel-tab {
  border: 2px solid #ebebeb;
  border-radius: 10px 10px 0px 0px;
  min-width: 8vw;
  margin-right: 7px;
  color: #646464;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #646464;
  text-underline-offset: 6px;
  text-transform: none;
}

.tab {
  min-width: 8vw;
  margin-right: 7px;
  background-color: #ebebeb;
  border-radius: 10px 10px 0px 0px;
  color: #646464;
  text-transform: none;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.section-header {
  display: flex;
  flex-direction: row;
  height: 46px;
  align-items: center;
  background-color: #EBEBEB;
  padding-left: 2%;
  padding-right: 2%;
}

.list {
  padding-top: 0%;
  padding-bottom: 0%;
}

#category-text {
  font-weight: 500;
  cursor: pointer;
}

#category-text:hover {
  font-weight: 800;
}