.h2 {
  margin-left: 5%;
  margin-right: 5%;
}

.title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 7%;
}

.transaction-icon {
  width: 35px;
  height: 35px;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0%;
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 35px;
  margin-bottom: 2%;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.add-button {
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  height: 33px;
  width: 70px;
  font-size: 14px;
  margin-right: 20px;
  text-transform: none;
}

.upload-button {
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  margin-right: 20px;
  text-transform: none;
}

.add-button:hover {
  background-color: var(--sapphire);
  color: #686868;
}

.upload-button:hover {
  background-color: var(--sapphire);
  color: #686868;
}

.add-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.transaction-container {
  width: 100%;
  border-radius: 15px 15px 30px 30px;
}

.tab-box {
  height: fit-content;
  padding: 0%;
  margin-left: 7px;
  border-radius: 0px 30px 30px 30px;
  /* border: 2px solid #e6ecfe; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.sel-tab {
  /* border: 2px solid #e6ecfe; */
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  min-width: 110px;
  width: 12%;
  margin-left: 7px;
  margin-right: 7px;
  color: var(--sapphire);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--sapphire);
  text-underline-offset: 6px;
  text-transform: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.tab {
  min-width: 110px;
  width: 12%;
  margin-left: 7px;
  margin-right: 7px;
  background-color: var(--sapphire-mid);
  border-radius: 15px 15px 0px 0px;
  color: white;
  text-transform: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.date-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sapphire-light);
  height: 35px;
  width: 35px;
  border-radius: 6px;
}

.calendar-icon {
  width: 22px;
  height: 22px;
}

.date-display {
  display: flex;
  align-items: center;
  background-color: var(--sapphire-light);
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 7px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 10px;
  height: 35px;
}

.chevron-left {
  fill: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.chevron-right {
  fill: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.filters {
  display: flex;
  align-items: center;
  width: 45%;
}

.filter-select {
  width: 25%;
  min-width: 80px;
}

.filter-label {
  font-size: 12px;
  font-weight: 800;
}

.select {
  height: 35px;
  align-items: center;
  background-color: var(--sapphire-light);
  border-radius: 12px;
  border: 0px solid black;
}

.search-bar {
  border: 1px solid #f0f0f0;
  border-radius: 19.5px;
  width: 30%;
  min-width: 175px;
  height: 36px;
  font-family: Avenir;
  font-size: 12px;
  padding-left: 1%;
}

.search-icon {
  margin-right: 3%;
  width: 20px;
  height: 20px;
}

.children {
  margin: 0px;
}

.popover-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1%;
  border: 2px solid rgba(234, 234, 234, 0.4);
  border-radius: 8px;
  width: 370px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

.popover-div {
  display: flex;
  flex-direction: column;
}

.popover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-title {
  color: #253c85;
  margin-bottom: 0px;
}

.x-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 15px;
}

.x-button:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}

.success-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15%;
}

.success-title {
  color: var(--noirish);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 31px;
  text-transform: none;
  margin: 0px;
}

.success-message {
  text-align: center;
  margin-bottom: 15%;
}

.success-close-button {
  color: #525454;
  border: 1.3px solid #525454;
  border-radius: 7px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: none;
}

.add-more-button {
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  font-size: 14px;
  margin-left: 20px;
  text-transform: none;
}

.select-category {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.accordion {
  background-color: #f7f7f7;
}

.accordion-open {
  background-color: #eaeaea;
}

.drop-triangle {
  width: 10px;
  height: 5px;
}

.autocomplete-option-select:hover {
  background-color: var(--sapphire);
}

.autocomplete-text-field {
  background-color: white;
}

.autocomplete-input {
  font-size: 12px;
  line-height: 20px;
}

.amount-action {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
  gap: 20px;
}

.amount-field {
  width: 90%;
}

#amount {
  flex: 2;
}

#action {
  flex: 4;
}

.radio-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #646464;
}

.message-field {
  width: 100%;
  background-color: #f7f7f7;
}

.message-field-input {
  font-size: 12px;
  line-height: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.confirm-button {
  align-self: flex-end;
  background-color: var(--sapphire);
  color: white;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  text-transform: none;
  margin-top: 20px;
  width: 89px;
}

.confirm-button:hover {
  background-color: #526dc2;
}

.upload-popover-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 1%;
  border: 2px solid rgba(234, 234, 234, 0.4);
  border-radius: 8px;
  width: 330px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

.upload-message {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #525454;
}

.add-file-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.upload-add-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-add-file {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #525454;
}

.upload-file-box {
  height: 80px;
  border: 1.5px dashed #526dc2;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
