.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-light);
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 120px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.sidenav-paper {
  width: 110px;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--sapphire);
  color: white;
  border: transparent;
}

.SFlogo {
  transform: scale(2.5);
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  margin: 26px;
  width: 85px;
  height: 85px;
  left: 24px;
  top: 33px;
}

.pageicons {
  width: 33px;
  height: 33px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}