.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-light);
  flex-direction: column;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 110px;
}

.SFlogo {
  transform: scale(2);
}

.icon {
  display: flex;
  justify-content: center;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  margin: 26px;
  width: 70px;
  height: 70px;
  left: 24px;
  top: 33px;
}

.pageicons {
  width: 33px;
  height: 33px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}