.buttons {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
}

.tableHead {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.headingRow {
  font-weight: bold;
  font-family: Avenir;
  background-color: var(--sapphire-light);
}

.tableRow {
  font-family: Avenir;
  color: var(--grey-dark);
}

.name {
  width: 15%;
  padding-left: 3%;
}

.FID {
  width: 6%;
}

.role {
  width: 7%;
}

.email {
  width: 15%;
}

.balance {
  width: 10%;
}

.status {
  width: 9%;
}

.manage {
  width: 17%;
}

.button {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  color: var(--grey-dark);
  border: 1px solid;
  border-radius: 15px;
  border-color: var(--grey-mid);
  height: 26px;
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
  padding-left: 17px;
  padding-right: 17px;
}

.button:hover {
  background-color: var(--grey-light);
}

.viewButton {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  background-color: var(--sapphire-light);
  color: var(--grey-dark);
  border-radius: 15px;
  height: 26px;
  font-size: 14px;
  margin-right: 10px;
  text-transform: none;
  padding-left: 17px;
  padding-right: 17px;
}

.viewButton:hover {
  background-color: var(--sapphire);
  color: var(--white);
}

.activeBubble {
  align-self: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.5px;
  color: white;
  height: 26px;
  width: 80%;
  background-color: var(--sapphire-mid-light);
}

.suspendedBubble {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.5px;
  color: white;
  height: 26px;
  width: 80%;
  background-color: var(--grey-mid);
  padding-inline: 10px;
}

.manageButtons {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}
