.card {
  width: 360px;
  height: 270px;
  border-style: solid;
  border-color: var(--grey-light);
  color: var(--grey-dark);
  border-radius: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 35px;
  overflow: auto;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.familyMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.headText {
  font-family: Avenir;
  font-weight: 800;
  color: var(--sapphire);
  padding-right: 8%;
  font-size: x-large;
  text-decoration: underline;
}

.smallText {
  font-size: small;
}

.col {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.familyCards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
}
