.container {
  display: flex;
  width: 125%;
  border-style: solid;
  border-radius: 15px;
  border-color: var(--sapphire-light);
  padding-top: 4%;
  padding-bottom: 4%;
}

.filters {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 35px;
  justify-content: space-between;
  width: 130%;
}

.filter-select {
  width: 125px;
  padding-right: 10px;
}

.filter-label {
  font-size: 12px;
  font-weight: 800;
}

.select {
  height: 35px;
  align-items: center;
  border-radius: 20px;
}

.applyButton {
  border-radius: 20px;
  color: var(--white);
  background-color: var(--sapphire-mid-light);
  text-transform: none;
  padding-right: 15px;
  padding-left: 15px;
}

.applyButton:hover {
  background-color: var(--sapphire);
}

.search-bar {
  border: 2px solid #f0f0f0;
  border-radius: 19.5px;
  width: 60%;
  height: 36px;
  font-family: Avenir;
  font-size: 12px;
  padding-left: 1%;
}

.search-icon {
  margin-right: 3%;
  width: 20px;
  height: 20px;
}

.chevron {
  fill: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  stroke: var(--sapphire);
}

.pageNav {
  font-size: small;
  background-color: var(--sapphire-light);
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.searchNav {
  display: flex;
  flex-direction: row;
  width: 50%;
  place-items: center;
}
