.breadcrumbs {
  display: flex;
  flex-direction: row;
  color: grey;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.arrows {
  color: transparent;
}

.title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  color: #b9b9b9;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
