.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 800px;
}

.table {
  width: 93%;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  height: 82%;
  border: 2px solid #ebebeb;
  position: relative;
  overflow: hidden;
}

.button {
  background-color: #cecccc;
  color: #646464;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 800;
  align-self: center;
  margin-left: auto;
}

.button:hover {
  background-color: #cecccc;
  color: #646464;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 10%;
  border-bottom: 1px solid #ebebeb;
  color: #646464;
  font-size: 13px;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 12%;
  border-bottom: 1px solid #ebebeb;
  color: #646464;
  font-size: 13px;
  padding-bottom: 15px;
}

.header {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.manageButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.tableHeader {
  background: #ededed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 10%;
  font-weight: 800;
  color: #646464;
  font-family: Avenir;
  font-size: 14px;
}

.section-header {
  display: flex;
  flex-direction: row;
  height: 46px;
  align-items: center;
  background-color: #e6ecfe;
  padding-left: 2%;
  padding-right: 2%;
}

#category-text {
  font-weight: 500;
  color: #272929;
}

.list {
  padding-top: 0%;
  padding-bottom: 0%;
  height: fit-content;
}

.search-bar {
  border: 1px solid #f0f0f0;
  border-radius: 19.5px;
  width: 30%;
  height: 36px;
  font-family: Avenir;
  font-size: 12px;
  padding-left: 1%;
}

.search-icon {
  margin-right: 3%;
  width: 20px;
  height: 20px;
}

.admin-icon {
  width: 35px;
  height: 35px;
}

.title {
  margin-left: 3%;
  margin-right: 3%;
}

.label {
  margin-left: auto;
  margin-right: 2%;
}
