.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  height: 800px;
}

.h2 {
  color: #646464;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.72px;
  letter-spacing: 1px;
  margin-left: 60px;
}

.table {
  width: 90%;
  align-items: center;
  border-radius: 30px;
  background-color: #FFFFFF;
  height: 90%;
  border: 2px solid #ebebeb;
}

.button {
  background-color: #cecccc;
  color: #646464;
  border-radius: 7px;
  height: 33px;
  font-size: 14px;
  align-self: center;
  margin-left: auto;
}

.button:hover {
  background-color: #cecccc;
  color: #646464;
}

.buttons {
  margin-left: 16%;
}

.row {
  width: 100%;
  height: 10%;
  /* background-color: black; */
  border: 1px solid #ebebeb;
}

.header {
  width: 90%;
  display: flex;
  align-items: flex-start;
  /* flex-direction: row; */
}
