html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir;
}

h2 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.72px;
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--grey-dark);
}

* {
  box-sizing: border-box;
}
:root {
  --kelly: #098d45;
  --kelly-mid: #5abd87;
  --sapphire: #253c85;
  --sapphire-mid: #526dc2;
  --sapphire-muted: #5a6aa2;
  --sapphire-mid-light: #7f93d1;
  --sapphire-light: #e6ecfe;
  --fuschia: #ce238f;
  --fuschia-mid: #e170b7;
  --marigold: #fed719;
  --marigold-mid: #ffe381;
  --marigold-light: #fff2c3;
  --background: #f9f7f7;
  --noirish: #272929;
  --grey-dark: #525454;
  --grey-mid: #a9a9a9;
  --grey-light: #eaeaea;
  --while: #ffffff;
  --alert-text: #e94444;
  --alert: #fce3e3;
  --grey-darker: #646464;
  --grey-alt: #cecccc;
  --off-white: #ededed;
  --hover: #f6f6f6;
}
