/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin: 0px;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 50%;
}

.image {
  margin-top: 3%;
  width: 70%;
  margin-bottom: 3%;
  align-self: center;
}